<p><%= link_to "Upload New Photo", new_photo_path, class: "btn btn-info btn-lg btn-block"%></center></p>
<% if @photos == [] %>
 <p>Photo</p>
 <% else %>
 	<% @photos.each do |photo| %>
 		<h3 style="color: #0772A1; margin-left: 50%;"><%= photo.name %></h3>
 	<%= image_tag(photo.photo_url) %>
 	<% end %>
<% end %>